<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property file="conf/email.properties"/>

    <appender name="console-error" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date %-5level [%thread] %logger[%file:%line] ## %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/sc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/sc.log.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%X{traceId}] %file:%line ## %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
            <!-- 如果使用logback 那么此处需要注释 否则出现ERROR 如果使用log4j2 那么此处需要解除注释-->
            <!--<onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <appender name="file_debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/debug_sc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/debug_sc.log.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%X{traceId}] %file:%line ## %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="file_debug" />
    </logger>

    <logger name="mobi.bihu.crawler" level="DEBUG" />

    <logger name="us.codecraft.webmagic" level="INFO" />

    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="file" />
        <appender-ref ref="file_debug" />
        <appender-ref ref="console-error" />
        <appender-ref ref="email" />
    </root>
</configuration>