<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console-error" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date %-5level [%thread] %logger[%file:%line] ## %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/app_api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/app_api.log.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%X{traceId}] %file:%line ## %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file_debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/debug_api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/debug_api.log.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%X{traceId}] %file:%line ## %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>${smtpHost}</smtpHost>
        <smtpPort>${smtpPort}</smtpPort>
        <username>${username}</username>
        <password>${password}</password>
        <SSL>${SSL}</SSL>
        <asynchronousSending>true</asynchronousSending>
        <to>${email_to}</to>
        <from>${email_from}</from>
        <subject>${email_subject}</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${email_body}</pattern>
        </layout>
        <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
            <marker>${marker}</marker>
        </evaluator>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
                <expression>
                    marker != null &amp;&amp;
                    marker.contains("EMAIL")
                </expression>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <logger name="mobi.bihu.crawler" level="DEBUG" />

    <logger name="us.codecraft.webmagic" level="INFO" />

    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="file" />
        <appender-ref ref="file_debug" />
        <appender-ref ref="console-error" />
        <appender-ref ref="email" />
    </root>
</configuration>